.btn {
  text-align: center;
  height: 50px;
  width: 200px;
}

.list-group {
  width: 600px;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
